<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../Public/css/utils/colors.css">
    <link rel="stylesheet" href="../Public/css/reset.css">
    <link rel="stylesheet" href="../Public/css/main.css">
    <link rel="stylesheet" href="../Public/css/views/project.css">
    <link rel="stylesheet" href="../Public/css/views/navbar.css">
    <link rel="stylesheet" href="../Public/css/views/footer.css">
</head>
<nav class="navbar" aria-label="Barre de navigation">
    <div class="logo" style="padding-left:20px">
        <img src="../Public/images/logo-amar.avif" alt="Logo" class="logo">
    </div>
    <ul>
        <li><a href="../index.html">Accueil</a></li>
        <li><a href="../Views/a-propos.html">A propos</a></li>
        <li><a href="../Views/project.html" style="font-weight: bold;">Le projet</a></li>
        <li><a href="../Views/contact.html">Contact</a></li>
        <li><a
                href="https://www.helloasso.com/associations/association-pour-la-mobilite-l-accessibilite-et-la-rehabilitation/formulaires/1"><button
                    class="donate-button" aria-label="Faire un don">Faire un don</button></a></li>
        <li><button class="language-switch" aria-label="Changer de langage">FR</button></li>
        <li>
            <div class="container">
                <input id="themeSwitcher" class="ThemeToggle" type="checkbox" title="Activer le mode Haut-Contraste"
                    aria-label="Activer le mode Haut-Contraste">
            </div>
        </li>
    </ul>
</nav>

<body>
    <div class="project-page">
        <section aria-labelledby="about-project-heading">
            <div class="flex2">
                <h1 id="about-project-heading">Accès à la mobilité pour les enfants au Salvador</h1>
                <p>Chaque année, au Salvador, plus de 3000 enfants ayant des besoins médicaux spécifiques bénéficient
                    d'un
                    suivi médical régulier.</p>
                <p>Cependant, de nombreuses familles n'ont pas les moyens financiers pour accéder à ce type de matériel,
                    car
                    le système de sécurité sociale ne fonctionne pas de la même manière qu'en France.</p>
                <p>Les différentes structures disponibles, à l'exception des hôpitaux, dépendent entièrement des dons
                    pour
                    fonctionner.</p>
                <p>Pour remédier à cette situation, nous allons commencer avec deux structures pour ouvrir la voie, avec
                    l'ambition d'étendre notre initiative à l'échelle nationale.</p>
            </div>
            <div class="separator"></div>
            <div class="flex1">
                <img src="../Public/images/hopac-AQE48Q0EOOcZXlj4.avif" alt="" width="45%" aria-hidden="true">
                <p class="big-info">+ 3000 enfants <br> dans le besoin</p>
            </div>
        </section>
        <section aria-labelledby="how-amar-organizes-heading" class="flex-column">
            <h1 id="how-amar-organizes-heading">Comment A.M.A.R. s'organise ?</h1>
            <div class="grid-container">
                <div class="grid-item">
                    <h2>1. Inventaire</h2>
                    <p>Un tri avec l’équipe médicale nous permet de vérifier l’état des appareillages et voir ceux qu’il
                        faut reconditionner.</p>
                </div>
                <div class="grid-item">
                    <h2>2. La collecte</h2>
                    <p>Un tri avec l’équipe médicale nous permet de vérifier l’état des appareillages et voir ceux qu’il
                        faut reconditionner.</p>
                </div>
                <div class="grid-item">
                    <h2>3. Le voyage</h2>
                    <p>Un tri avec l’équipe médicale nous permet de vérifier l’état des appareillages et voir ceux qu’il
                        faut reconditionner.</p>
                </div>
                <div class="grid-item">
                    <h2>4. Arrivée au Salvador</h2>
                    <p>Un tri avec l’équipe médicale nous permet de vérifier l’état des appareillages et voir ceux qu’il
                        faut reconditionner.</p>
                </div>
                <div class="grid-item">
                    <h2>5. L'inspection</h2>
                    <p>Un tri avec l’équipe médicale nous permet de vérifier l’état des appareillages et voir ceux qu’il
                        faut reconditionner.</p>
                </div>
                <div class="grid-item">
                    <h2>6. La distribution</h2>
                    <p>Un tri avec l’équipe médicale nous permet de vérifier l’état des appareillages et voir ceux qu’il
                        faut reconditionner.</p>
                </div>
            </div>
        </section>
        <section aria-labelledby="support-heading" class="donation-section">
            <h3 id="support-heading" style="padding-bottom:16px">Vous voulez faire partie de l'aventure ?</h3>
            <h1>Soutenez-les</h1>
            <button class="donate-button" aria-label="Faire un don">Faire un don</button>
        </section>
    </div>
    <footer role="contentinfo" aria-label="Pied de page">
        <p class="visually-hidden">Début de la section du pied de page</p>
        <div class="div-logo-footer">
            <img src="../Public/images/logo-amar.avif"
                alt="Logo de l'Association pour la Mobilité, l'Accessibilité et la Réhabilitation" class="logo-footer">
        </div>
        <nav class="footer-infos" aria-label="Liens du pied de page">
            <p class="bold text-align-right">Association pour la Mobilité, <br>l'Accessibilité et la Réhabilitation</p>
            <p class="text-align-left">
                <a class="drop-link-style" href="mailto:contact@amar-handicap.org">contact@amar-handicap.org</a>
            </p>
        </nav>
        <p class="copyright">&copy; 2024 AMAR-HANDICAP. Tous droits réservés.</p>
        <p class="visually-hidden">Fin de la section du pied de page</p>
    </footer>
    <script src="../Public/js/main.js"></script>
    <script src="../Public/js/theme.js"></script>
</body>

</html>