body {
  font-family: Arial, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.text-align-left {
    text-align: left;
}
.text-align-right {
    text-align: right;
}

.drop-link-style {
    text-decoration: none;
    color: black;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}