body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--current-main-color);
}

.main-content {
    display: flex;
    flex-direction: column;
}

.big-info{
    font-weight: bold;
    color: var(--current-tertiary-color);
    font-size: 38px;
    margin-bottom: 20px;
    padding: 20px;
}


.flex1 {
    flex: 2;
}

.flex2 {
    flex: 1;
    flex-direction: colums;
}

.column img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1 {
    font-weight: bold;
    color: var(--current-secondary-color);
    margin-bottom: 3rem;
}

h2 {
    color: var(--current-secondary-color);
    margin-bottom: 25px;
}

p {
    line-height: 1.6;
    color : var(--current-font);
    margin-bottom: 20px;
}

.questions {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 600;
}

.separator-columns {
    width: 5rem;
}

.cousines-image{
    width: 17rem;
}

.flag-image {
    width: 14rem;
    position: absolute;
    right: 10rem;
    top: 29rem;
    border-radius: 10px;
}

.adrien-image {
    margin-top: 7rem;

}

.adrien {
    display: flex;
    margin-left: 6.5rem;
    font-weight: bold;
    color: var(--current-secondary-color);
}

.section {
    display: flex;
    flex-wrap: wrap;
    padding: 7rem 9rem;
    gap: 20px;
}

.section-donation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 8rem;
    gap: 20px;
}

.white {
    background-color: var(--current-background);
    display: flex;
    justify-content: center;
}
.dd {
    margin-top: 5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.grid-item {
    display: flex;
    align-items: center;
    padding: 20px;
}

.grid-item img {
    max-width: 100px;
    margin-right: 20px;
}

.grid-item p {
    margin: 0;
}

.donate-button {
    background-color: var(--current-tertiary-color);
    color: var(--current-background);
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 160px;
    font-size: 18px;
  }
  
  .donate-button:hover {
    background-color: var(--current-secondary-color);
  }
  