.about-page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.big-info {
  font-weight: bold;
  color: var(--current-tertiary-color);
  font-size: 38px;
  margin-bottom: 20px;
  padding: 20px;
}

.column img {
  max-width: 100%;
  height: auto;
  display: block;
}

.questions {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: 600;
}

.separator-columns {
  width: 5rem;
}

.cousines-image {
  width: 17rem;
}

.flag-image {
  width: 14rem;
  position: absolute;
  right: 10rem;
  top: 29rem;
  border-radius: 10px;
}

.adrien-image {
  margin-top: 7rem;
}

.adrien {
  display: flex;
  font-weight: bold;
  color: var(--current-secondary-color);
}

.section {
  display: flex;
  flex-wrap: wrap;
  padding: 7rem 9rem;
  gap: 20px;
}

.section-donation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 8rem;
  gap: 20px;
}

.dd {
  margin-top: 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.grid-item {
  display: flex;
  align-items: center;
  padding: 20px;
}

.grid-item strong {
  font-weight: bold;
  color: var(--current-font);
}

.grid-item img {
  max-width: 100px;
  margin-right: 20px;
}

.grid-item p {
  margin: 0;
}

.flex-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
