h1,
h2,
h3 {
  font-weight: bold;
  color: var(--current-secondary-color);
  margin-top: 20px;
}

p {
  margin: 10px 0;
}

ul {
  list-style-type: disc;
  margin: 10px 0 20px 20px;
  padding: 0;
  color: var(--current-font);
}

ul li {
  margin: 5px 0;
  color: var(--current-font);
  font-size: 1.1rem;
}

body {
  background-color: var(--current-main-color);
}

.section-accessibility {
  display: flex;
  flex-direction: column;
}

.section {
  width: auto !important;
  align-items: flex-start !important;
}
