.contact-page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  background-color: var(--current-background);
}

.almost-title {
  font-size: 3.4rem;
  font-weight: 700;
  color: var(--current-secondary-color);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-container input {
  font-family: inherit;
  padding: 10px;
  border: 1px solid var(--current-secondary-color);
  border-radius: 5px;
  min-height: 2rem;
}

.input-container textarea {
  font-family: inherit;
  padding: 10px;
  border: 1px solid var(--current-secondary-color);
  border-radius: 5px;
  min-height: 5rem;
}

.input-container label {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--current-secondary-color);
  pointer-events: none;
}

.input-container button {
  background-color: var(--current-secondary-color);
  color: var(--current-background);
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
  font-size: 18px;
}
