.ThemeToggle {
  appearance: none;
  width: 84px;
  height: 42px;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background: var(--access-shadow);
  transition: background-color ease 0.3s;
}

.ThemeToggle::before {
  content: url("https://shivanarrthine.com/public/images/icons/moon.svg");
  display: block;
  position: absolute;
  z-index: 2;
  width: 34px;
  height: 34px;
  background-color: var(--access-background);
  left: 4px;
  top: 4px;
  border-radius: 50%;
  text-indent: 10px;
  line-height: 42px;
  word-spacing: 37px;
  white-space: nowrap;
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.ThemeToggle:checked {
  background-color: var(--normal-shadow);
}

.ThemeToggle:checked::before {
  left: 42px;
  content: url("https://shivanarrthine.com/public/images/icons/sun.svg");
  background: var(--normal-background);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px var(--current-shadow);
  padding: 5px;
  background-color: var(--current-main-color);
  color: var(--current-font);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100px;
}

.navbar .logo {
  width: 100px;
  height: auto;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--current-secondary-color);
  padding: 8px 12px;
}

.navbar ul li a:hover {
  color: var(--current-tertiary-color)
}

.navbar .donate-button {
  background-color: var(--current-tertiary-color);
  color: var(--current-background) !important;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.navbar .donate-button:hover {
  background-color: var(--current-secondary-color);
}

.navbar .language-switch {
  background-color: #555;
  color: var(--current-background);
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.navbar .language-switch:hover {
  background-color: #777;
}
