body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--current-main-color);
}

.project-page {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.separator {
  width: 120px;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 12rem;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.project-image {
  width: 100%;
}

.white-background {
  background-color: var(--current-background);
  color: var(--current-font);
}

.main-color-background {
  background-color: var(--current-main-color);
  color: var(--current-font);
}

.big-info {
  font-weight: bold;
  color: var(--current-tertiary-color);
  font-size: 42px;
  margin-bottom: 20px;
  padding: 20px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes de largeur égale */
  grid-auto-rows: auto; /* Hauteur automatique des lignes */
  gap: 20px; /* Espacement entre les éléments */
  text-align: start;
}

.grid-item {
  padding: 20px;
  text-align: start;
}

.grid-item h2 {
  grid-column: 1 / -1; /* Colonne de la première à la dernière */
  font-size: 24px;
  font-weight: bold;
  color: var(--current-tertiary-color);
  padding-bottom: 10px;
}

.donate-button {
  background-color: var(--current-tertiary-color);
  color: var(--current-background);
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 160px;
  font-size: 18px;
}

.donate-button:hover {
  background-color: var(--current-secondary-color);
}

.column img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-weight: bold;
  color: var(--current-secondary-color);
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: var(--current-font);
}
